{% extends "layout.html" %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block content %}
    <h1>{% trans "Registration" %}</h1>

    <form action="." method="post" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form.as_p }}
        </fieldset>
        <fieldset class="submit-row">
            <p><button class="btn btn-primary btn-large" type="submit">{% trans "Create account" %}</button></p>
        </fieldset>
    </form>
{% endblock %}
