{% extends "base.html" %}

{% block layout %}
  <header class="header">
    {% block header %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Qi CV</a>
          <div class="nav-collapse">
            <ul class="nav">
              {% if request.user.is_authenticated %}
              <li><a href="/dashboard/">Dashboard</a></li>
              <li><a href="{% url cv:my %}">My CVs</a></li>
              <li><a href="{% url cv:all %}">All CVs</a></li>
              {% else %}
              <li class="active"><a href="/">Home</a></li>
              {% endif %}
            </ul>
            <ul class="nav pull-right">
              {% if request.user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.first_name }} {{ request.user.last_name }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/accounts/profile/">My Profile</a></li>
                  <li class="divider"></li>
                  <li><a href="/accounts/logout/">Log Out</a></li>
                </ul>
              </li>
              {% else %}
              <li><a href="/accounts/register/">Register</a></li>
              <li><a href="/accounts/login/">Log In</a></li>
              {% endif %}
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% endblock %}
  </header>

  <div class="main {% block main_class %}{% endblock %}">
    <div class="container">

      {% if messages %}
        {% for message in messages %}
        <div class="messages">
          {% for category,message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message|safe }}
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      {% endif %}

    {% block content %}
    {% endblock %}
    </div>
    <div class="push"></div>
  </div>

  {% block footer %}
  <footer class="footer">
    <div class="container">
        <!-- <div class="pull-right" style="margin-top: 10px;"><a href="#">Back
  to top</a></div> -->
        <div class="pull-left" style="margin-top: 15px;font-weight:bold;">Qi CV</div>
    </div>
  </footer>
  {% endblock %}
{% endblock %}
